{
    "email": "your_email",
    "password": "password_email",
    "geminiApi": "your_gemini_apikey",
    "prompt": "What is the text in this CAPTCHA image? just answer the text",
    "captha2Apikey": "your_apikey_2captcha",
    "apiCaptchakey": "your_api_apicaptcha"
}